.view-tasks-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.view-tasks-lists {
  display: flex;
  justify-content: space-evenly;
  overflow-y: auto;
}

.view-tasks-form {
  padding-bottom: 10px;
}
